<!DOCTYPE html>
<html xmlns:th="http://www.Thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品詳細</title>
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<th:block th:replace="~{parts/header}"></th:block>
	<hr />
	<main>
		<nav>
			<form action="/items" method="get">
				<input type="text" name="keyword" placeholder="商品名" th:value="${keyword}" /> |
				<input type="number" name="maxPrice" placeholder="価格" th:value="${maxPrice}" />円以下
				<button>検索</button>
			</form>
			<a href="/items">全商品</a>
			<a th:each="category:${categoryList}"
			   th:href="'/items?categoryId=' + ${category.id}"
			   th:text="${category.name}"></a>
			<a href="/items">カートを見る</a>
		</nav>
		<article>
			<table border="1">
				<tr>
					<th>NO</th>
					<td th:text="${item.id}"></td>
				</tr>
				<tr>
					<th>商品名</th>
					<td th:text="${item.name}"></td>
				</tr>
				<tr>
					<th>値段</th>
					<td th:text="${item.price}"></td>
				</tr>
			</table>
			<form action="" method="">
				<button>カートに追加</button>
			</form>
		</article>
	</main>
	<hr />
	<th:block th:replace="~{parts/footer}"></th:block>
</body>
</html>